 /********** BASE STYLING **********/
* {
	box-sizing: border-box;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
}

/* Fonts and font colors */
h1, 
h2,
li a,
#work p,
footer p {
	color: #f6f4e1;
}

h1,
h2,
h3,
h4 {
	font-weight: lighter;
}

h1 {
	font-size: 2.81em;
}

h1 > span {
	font-family: 'Cedarville Cursive', cursive;
}

h1 > span,
ul.experience > li .level-score.filled {
	color: #42a6c6;
}

h2 {
	padding: 10px 0 100px 0;
}

h2,
.quote {
	font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
ul.social-connect,
#work,
#skills p,
ul.experience,
.quote,
footer p {
	text-align: center;
}

h3 {
	font-size: 1.88em;	
}

h3,
h4,
h5,
.quote-author {
	font-family: 'Dancing Script', cursive;
}


h3, 
p,
ul.social-connect li a,
.experience li {
	color: #8D8D8A;
}

p, 
.experience li {
	font-size: 0.88em;
	line-height: 1.88em;
}

h4,
h5,
ul.social-connect li a:hover,
#work a,
.quote-author {
	color: #f56e47;
}

.quote-author {
	font-size: 1.13em;
}

h2,
h4, 
h5 {
	font-size: 1.56em;
}

/* Links */
a {
	color: #f0b949;
	text-decoration: none;
	transition: 1s ease-in-out;
}

a:hover {
	text-decoration: underline;
}

/* FLOATS */
nav ul,
.right,
ul.experience > li.experience-level {
	float: right;
}

.left,
.third-width-inner {
	float: left;
} 

/* DISPLAY */
ul li,
.inner-half-width,
ul.experience li {
	display: inline-block;
}

/* PADDING */
#about,
ul.social-connect,
#work,
#skills,
.skills-inner,
.half-width {
	padding: 1.25em;
}



/********** HEADER **********/
/* NAV */
nav {
	background:#00224b;
	padding: 1.56em;
}

nav ul {
	margin-top: -.63em;
}

li a {
	font-weight: bold;
	padding-right: 1.25em;
}

li a,
li a:hover,
ul.social-connect li a:hover {
	text-decoration: none;
}

/* HEADER */
header {
	background: url('../imgs/cp-header.jpg') no-repeat center/cover fixed;
	padding: 11.88em;
}

.full-width {
	padding: 2em;
	width: 75%;
}

.full-width,
.skills-inner {
	margin: 2.19em auto;
}

/********** ABOUT **********/
#about {
	background: #ededed url('../imgs/debut_light.png') repeat;
	margin: -1.56em auto;
}

.inner-width {
	background: #fff;
	border-radius: 10px; 
}

.divider {
	border: 5px solid;
	margin: 5px auto;
	width: 70px;
}

.divider-about {
	border-color: #f56e47;
}

#about  img {
	border-radius: 50%;
	display: block;
	margin: 20px auto;
	opacity: 1;
	transition: 0.2s ease-in-out;
}

#about  img:hover {
	opacity: 0.5;
}

.inner-half-width {
	margin-top: 40px;
	width: 50%;
}

.left {
	border-right: 1px dotted #f56e47;
	padding-right: 1.25em;
}

.right {
	margin-bottom: -500px;
	padding-left: 1.25em;
}

ul.social-connect {
	margin-left: 1.56em;
}

ul.social-connect li a {
	margin-right: 0.63em;
}

.clearfix:after {
	clear: both;
    content: "";
    display: table;
}


/********** WORK **********/
#work {
	background: #f0b949 url('../imgs/square_bg.png') repeat fixed;
}

.divider-work {
	border-color: #f6f4e1;
}

.third-width {
	width: 33.3%;
}

.third-width-inner {
	margin: 2.5em auto;
	opacity: 0.5;
	padding: 2.19em;
	transition: .5s ease-in-out;
}

.third-width-inner:hover {
	opacity: 1;
}

#contact,
#work,
#work a {
	margin-top: -2.19em;
}

#work img {
	background: #fff;
	border: 1px dotted #f56e47;
	margin-right: 1.25em;
	padding: 0.31em;
	width: 100%;
}

.col-l,
.col-c,
.col-r { 
	transition: all .5s ease-in-out; 
}

.col-l:hover,
.col-c:hover,
.col-r:hover { 
	transform: scale(1.5); 
}

/********** SKILLS **********/
#skills {
	background: #004f6e; 
}

.divider-skills {
	border-color: #42a6c6;
}

ul.experience li {
	margin: 0.94em auto;
}

ul.experience > li .experience-title {
	margin-left: -1.56em;
	padding: 0.31em 1.56em 0.31em 0.63em;
}

ul.experience > li .level-score {
	font-size: 0.75em;
	margin-left: 1.25em;
}



/********** FOOTER/CONTACT **********/
#contact {
	background: #42a6c6 url('../imgs/cp-trees.jpg') no-repeat center/cover fixed;
	padding: 11.88em;
}

.inner-footer {
	background: #004f6e;
	border-radius: 10px;
	opacity: 0.9;
	margin-top: -4em;
}

footer p {
	margin: 2em 0;	
}



/********** HEADER ANIMATIONS **********/
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-20 10:29:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}



.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

//* ----------------------------------------------
 * Generated by Animista on 2020-4-20 10:51:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
